@font-face {
	font-family: quote-font;
	//src: url('../assets/fontbook/futura.otf');
	src:url('../assets/fontbook/Champagne & Limousines Bold Italic.ttf');	
	src:url('../assets/fontbook/Mohave Italics.otf');
	//src:url('../assets/fontbook/Mohave-SemiBold Italics.otf');

}

/*added 0803*/
@font-face {
	font-family: Roboto-Black;
	src:url('../assets/fontbook/Roboto-Black.ttf');
}

@font-face {
	font-family: Roboto-Bold;
	src:url('../assets/fontbook/Roboto-Bold.ttf');
}

@font-face {
	font-family: Roboto-Light;
	src:url('../assets/fontbook/Roboto-Light.ttf');
}

@font-face {
	font-family: Roboto-Regular;
	src:url('../assets/fontbook/Roboto-Regular.ttf');
}

@font-face {
    font-family: Baskerville;
    src: url(../assets/fontbook/baskvl.ttf);
}


/*--------------------------------------------------------*/
@font-face {
	font-family: "TyponineSans Regular 18";
	src: url("../assets/fontbook/TyponineSansRegular.eot");
	src: url("../assets/fontbook/TyponineSansRegular.eot?#iefix") format("embedded-opentype"), 
		url("../assets/fontbook/TyponineSansRegular.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "TyponineSans Text 16";
	src: url("../assets/fontbook/TyponineSansText.eot");
	src: url("../assets/fontbook/TyponineSansText.eot?#iefix") format("embedded-opentype"), 
		url("../assets/fontbook/TyponineSansText.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}


.verdana {
    font-family: verdana;
    font-size: 13pt;
    color: #555;
    line-height: 1.45;
}



/*--------------------------------------------------------*/

@font-face
{
font-family: MYRIADPRO-REGULAR;
src: url('../assets/fontbook/MYRIADPRO-REGULAR.OTF');
}

@font-face
{
font-family: MYRIADPRO-SEMIBOLD;
src: url('../assets/fontbook/MYRIADPRO-SEMIBOLD.OTF');
}

@font-face
{
font-family: MYRIADPRO-BOLD;
src: url('../assets/fontbook/MYRIADPRO-BOLD.OTF');
}


.MYRIADPRO-REGULAR {font-family: MYRIADPRO-REGULAR;}
.MYRIADPRO-SEMIBOLD {font-family: MYRIADPRO-REGULAR;}
.MYRIADPRO-BOLD {font-family: MYRIADPRO-BOLD;}

