#link-projects{text-decoration: underline;}

.quote>h3, i, #title-description{
	color: #c59f70;
}

/*----------------Title----------------*/
/*christmas design only*/
.title-image-group{
	/*can adjust this to fit image*/
    margin-top: 27%; 
	margin-left: 10%;
    width: 75%; 
}

/*christmas design only*/
#title-description-supplement{
    margin-top: 3%;
}

/*christmas design only*/
#title-description>div:first-child{
	margin-top: 8%;
	font-size: 70px;
	line-height: .8;
}


/*----------------Promotion----------------*/

/*----------------Research----------------*/

/*----------------Ideation----------------*/

/*----------------prototype----------------*/

/*----------------Product----------------*/

/*----------------other----------------*/

/*----------------Comment----------------*/

/*----------------Animations----------------*/

/* for 680px or less */
@media screen and (max-width: 680px){
	/*crown only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 10% 0 1% 6%; 
		width: 90%; 
	}


}