/*<i> for in-text hightlight*/
.highlight>h3,i{color: #4B2D80;}
p>a:link {color: #FFC413; text-decoration:underline}
a:visited {color: #FFC413;}

.li-nav>a:link,
.li-nav>a:visited 
{color: #555;}

#navBand {
    background-color: #fff;
}

/*once pass rendering, change color*/

/*----------------Title----------------*/

/*flash only*/
#title-panel{
    background-color: #4B2D80;
    background-color: #fff;
}


#title-img{
    margin-top: -20px;
    z-index: 1;
}

#title-img>img{
    width: 1100px;
    margin-left: -550px;
}


#title-description{
    z-index: 10;
    color: #555;
    margin-top: -180px;
}



/*----------------intro----------------*/
#intro-panel{
    margin-top: 50px; /*share 20px margin with p class*/
}

#test2{
    background-image: url("../images/2016IxDAwards_Shortlist_Pin.png");
    background-size: 100% 40px;
    background-color: yellow;
    background-repeat: no-repeat;
    overflow: visible;
}

/*----------------Promotion----------------*/

/*----------------Research----------------*/
/*to structure*/
.group-wrapper{
    position: relative;
	padding: 30px 0;
    height: auto;
}

.feature{padding: 80px 0;}



/*----------------Ideation----------------*/

#ideation-panel>img{
    box-shadow: 0 0 ;
}

/*----------------prototype----------------*/


/*----------------Product----------------*/


#product-panel>img:first-child, #product-panel>img:last-child{
	border-top: none;	
}

#product-panel>img:last-child{
	margin-bottom: 0px;
}

/*----------------Market----------------*/


/* for 680px or less */
@media screen and (max-width: 680px){


	/*calor only?*/
	#prototype-panel>#market-cartridge-mechanism, 
    #prototype-panel>#video-set-temp{
		left: 0;
		margin-left: 0;
        padding: 0; //0621
		width: 100%;
        height: 150px;
	}
	
	.issue, .issue-detail{
		width: auto;
	}

    .feature,
    .feature-icon,
    .feature-detail{
        //max-width: 680px;
        width: auto;
        left: 0%; /*reset >680px*/
		margin-left: 0px; /*reset >680px*/
        padding: 0;
        overflow: visible;
        text-align: center;
    }
    
    
    .band>.feature{height: 500px;}
    .band+.feature{height: 400px; margin-top: 24px;}
    

/* for 480px or less */
@media screen and (max-width: 480px) {
    #title-panel{height: 750px;}    
}