

.highlight>h3, i{
	color: #35a1e1;
	color: #5cb9b0;
}

a>i{color: #aaa}
p>a:link {color: #aaa;}
p>a:visited {color: #aaa;}
p>a:hover{text-decoration: underline;}


/*----------------Title----------------*/

#title-panel{background-color: #5fc4cf;}

#title-img{
    margin-top: 100px;;
}

#title-img>img{
    width: 500px;
    margin-left: -250px;
}


/*----------------Promotion----------------*/
/*----------------Ideation----------------*/
#ideation-panel>img{
	box-shadow: initial;
}
/*----------------Research----------------*/

/*override structure specifity*/
#research-panel>#user-img{
	position: relative;
    width: 400px;
	left: 50%;
	margin-left: -200px;
}

.imperative, .imperative-img, .imperative-detail{
	margin-top: 30px;
	position:relative;
	width: 100%;
	height: 200px;
}

#reserach-panel>.imperative: first-child{
	margin-top: 0px;
}

.imperative-img, .imperative-detail{
	max-height: 200px;
	float: left;
}

.imperative-img{width: 40%;}
.imperative-detail{width: 60%;}

.imperative-detail>h4{
	padding-top: 12%;
	margin: 0px;
	left: 0px;
	width: auto;
}

.imperative-img>img{
	position: relative;
	left: 50%;
	margin-left: -100px;	
}

/*----------------Ideation----------------*/
/*----------------prototype----------------*/

/*----------------Product----------------*/

/*----------------other----------------*/

/*----------------Comment----------------*/

/*----------------Animations----------------*/

@media screen and (max-width: 680px){
	/*soap hero only*/
	.title-image-group{
		margin: 0 0 0 10%;
		width: 80%; 	
	}
	
	#research-panel>.imperative{
		margin-bottom: 50px;
	}
	
	.imperative, .imperative-img, .imperative-detail{
		width: 100%;
		height: auto;
		float: none;
	}

	.imperative-img{
		left: 50%;
		width: 200px;
		margin-left: -100px;
	}

	.imperative-detail{
		margin-top: 5px;
		text-align: center;
		overflow:hidden;
	}

	.imperative-detail>h4{
		padding-top: 0;
	}

	
	
}
