.li-nav>a:link,
.li-nav>a:visited 
{color: #555;}
#indicator-dot{background-color: #555;}


p{
	left: 0;
	margin: 0;
	margin-left: 20px;
	font-family: "TyponineSansRegular";
    font-size: 20px;
    color: #555;
    line-height: 1.1;
    width: 600px; /*added on 0729*/
}

h1, h2{
	font-family: "MYRIADPRO-REGULAR";
	text-align: center;	
    
}

#header>h1{
	padding-top: 10px; 
	font-size: 75px;
    color:#63b092;
}


#header>h2{	
	margin-top: -5px;
	margin-bottom: 30px; 
	font-size: 16px;; 
	color: #999;
    color:#63b092;
}


.section>h3{
	font-family: "MYRIADPRO-semibold";
    font-size: 23px;
    color:#63b092;
    //color: purple;

}

.section>h4{
	font-family: "MYRIADPRO-regular";
	color: #333;
    font-size: 20px;
}

.section>h4>span{
	float: right;
}

h4>a:link,
h4>a:visited{
    text-decoration: none;
    color: #555;
}

h4>a:hover {
    color: #00A3E0;
    
}

.h4-nonfirst{
	margin-top: 20px;
}

em{
	font-family: "MYRIADPRO-regular";
	color: #aaa;
}

.section{margin-top: 10px;}


/*----------------Resume----------------*/
#resume-panel {
	position: relative;
	margin-top: 100px;
	height: auto;
    margin-left:-325px;   
	left: 50%;
    width: 650px;
	font-family: "MYRIADPRO-REGULAR", sans-serif;
}

#header{
	margin-bottom: 45px;
}

#skill>p{
    padding-bottom: 10px;
    

}

#resume-panel, #pdf{
    font-size: 15px;
}

#pdf>h3 {
	margin-top: 100px;
	text-align: center;
	font-family: "MYRIADPRO-BOLD";
}


#pdf a:link {color: black; text-decoration:none;}
#pdf a:visited {color: black;}
#pdf a:hover {color: #999;animation: 1s ease;}


#pdf:hover a span{
    display: none;
}

#pdf:hover a:after{
    content: "Thanks for your interest :)";
    animation: 1s ease;
}



/*--------------Media Query starts-----------------*/
/* for 680px or less */
@media screen and (max-width: 680px) {
    #link-resume{text-decoration: underline}

	/* for resume.css only*/
	#product-panel>div{padding: 0;}

	#resume-panel{
		width: 100%;
		width:auto;/*0121 for padding*/
		height: auto;
		left: 0;
		margin-left: 0;
		margin-right: 0;
		padding: 0 10px;/*0121*/
	}
	
	#resume-panel>div{
		margin-left:10px;
	}
	
	#resume-panel>div>*{
		margin-right: 12px;
	}
	
	p{
		width: auto;
		left: 0;
		margin-left: 0;
		padding:0px 12px;
	}
	/* for resume.css only*/

}

@media screen and (max-width: 550px){
	.section>h4>span{
		display: block;
	}
	.offset-height {
		height: 40px;
	}

}


@media screen and (max-width: 480px){
        h4+h4{
        margin-top: 10px;
    }
}


/* for 415px or less */
/* exception: adjust size of name*/
@media screen and (max-width: 430px) {
	#header>h1{
		font-size: 15vw;
		margin-bottom: 10px;
	}
        
}
