.li-nav>a:link,
.li-nav>a:visited 
{color: #555;}
#indicator-dot{background-color: #555;}

#product-panel{
    //background-color: yellow;
}

.square{
    //background-color: yellow;
    background-color: #FCFCFC;
}

html,body{background-color: #f5f5f5}

img~img{
	margin-top: 0px; /*overrule structure.css*/
}


/*----------------Product----------------*/
#product-panel {
	position: relative;
    width: 814px; /*880-16*2(padding)*/
    left: 50%;
    margin-left: -407px;
	min-height: 1000px;
    height: auto;
}

.square{
	position: relative;
	width: 250px;
	height: 215px;
	overflow: hidden;
}

.square a{
	-webkit-transition: color .8s; /* For Safari 3.1 to 6.0 */
    transition: color .8s;
}

.square a:hover{
	color:white;
	color:grey;
}

.square>img{
	display: block;
}

.data-img{
	position: absolute;
}

.wide{
	position: relative;
	width: 416px;
	height: 200px;
	//background-color: grey;
}

.wide a:hover{
	color:white;
	color:grey;
}



/*-- case 1 --*/
/*-- left=wide | mid=square | right=square --*/
.wide~.mid-content~.right-content{
	left: 216px;
}
.wide~.mid-content~.right-content~.block{
	right: 216px;
}


.tall{
	position: inherit;
	width: 200px;
	height: 400px;
	//background-color: grey;
	opacity: .2;
}

.square>a{
    color: #555;
    text-decoration: none;
}


.square-img{
	position:relative;
    width: 250px;
    height: 165px;
    //opacity: .5;
}
.square-caption{
	position:relative;
    width: 100%;
    height: 50px;
    text-align: center;
}


.square-caption>h2, .wide a>h2, .tall a>h2{
	font-size: 20px;
    font-family: roboto;
}

.square-caption>h3{
	font-size: 15px;
    font-family: roboto-light;
}

.small{height: 100px;width: 250px;}
.small .square-caption{
    margin-top: 25px;
}


.square a>.project-caption, 
.wide a>.project-caption, 
.tall a>.project-caption{
	margin-top: -24px;
	font-size: 10pt;
}



#floor-three, #floor-two, #floor-one, #lower-level {
	position: relative;
	height: auto;
	float: left;
}

#floor-three{
	margin-top: 50px;
}

/*------------span only one row-----------------*/
#floor-three, #lower-level {
	//background-color: yellow;
	width: 100%;
	min-height: 0px;
}/*---------------------------------------------*/


.floor, .left-content, .mid-content, .right-content, .block{
	float: left;
	margin:16px 0px 0px 16px;
}

.left-content{
	//background-color: #eee;
}

.mid-content{
	//background-color: grey;
}


.floor>h3{
	margin: 0px auto;
	width: 200px;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 2px;
	margin-top: 10px;
}

.floor>h2, .floor>h3, .floor>h4{
	margin: 0px auto;
}

.floor>h3 {
	font-size:1em;
	line-height: 1;
}

.floor>h4{
	font-size:.75em;
	line-height: 1.2;
}

.floor>h5{
	font-size: .5em;
	font-weight: 100;
	
}


/*delete after finished*/
.block{
	//background-color: white;
	//border: 1px solid #eee;
}



/*--------------------------
--------Media Query---------
----------------------------*/
/* for 680px or less */
@media screen and (max-width: 680px) {
	#product-panel{
		width: auto;
		min-height: 1900px;
		padding: 0;
	}
		
	/*clear padding for all floors*/
	#product-panel>div{padding: 0;}
	
	
	
	/*-- case 1 --*/
	/*-- left=wide | mid=square | right=square --*/
	.wide~.mid-content~.right-content{
		left: 0px;
	}
	.wide~.mid-content~.right-content~.block{
		right: 0px;
	}
	
	.floor{
		width: 632px;
		height: auto;
	}
	.block{
		height: 0px;
		width: 0px;
		margin: 0px;
	}
	/*delete after finished*/
	.block{
		background-color: initial;
		border: 0;
	}

	.floor>h2,h3,h4{
		text-align: center;
	}
	
	.floor>h2, .floor>h3, .floor>h4{
		line-height: 1.2;
		margin: 0px auto;
	}
	
	.floor>h3{
		width: 250px;
		margin-top: 10px;
	}
	.floor>h4{
		margin-top: -5px;
	}
}/* for 680px or less media query ends */



/* for 480px or less */
@media screen and (max-width: 480px) {
	#floor-three, #floor-two, #floor-one, #lower-level{
		width: auto;
		float: none;
		
	}
	
	.square, .wide{
		margin-right: 16px;
		width: auto;
		height: auto;
	}
		
	.square a>h2, .wide a>h2, .tall a>h2{
		position:absolute;
		margin-top: -32px;
		margin-left: 16px;
		font-size: 14pt;
		font-weight: 100;
	}
	
	.floor, .left-content, .mid-content, .right-content, .block{
		float:none;
	}
	
}/* for 460px or less media query ends */

