//megenta #F51488


//html, body, footer{background-color: #2E2E2E;}

#navBand {
    background-color: transparent;
}

/*----------------Title----------------*/

html{
    background-color: white;
    background-color: #151515;
    background-color: #000;
    width: 100%;

}
body{
    position: relative;
    //margin: 0 auto;
    background-color: #151515;
    background-color: #000;
    //background-color: yellow;
    //padding: 30px;
    width: 1000px;
    height: 1500px;
    left: 50%;
    margin-left: -500px;
    font-family: verdana;
    color: #ddd;
    overflow: hidden;
}
#indicator-dot {
    //width: 10px;
    //height: 10px;
    border-radius: 0;
    background-color: #F51488;
}

#block{
    position: absolute;
    left: 0;
    //margin-left: -25px;
    top: 0;
    //margin-top: -25px;
    width: 50px;
    height: 50px;
    display: block;
    background-color: white;
    opacity: .1;
    z-index: 5;
    -webkit-transition: .225s cubic-bezier(0,.65,.63,.99);
    transition: .225s cubic-bezier(0,.65,.63,.99);
}

#block:hover{
    cursor: pointer;
    opacity: .2;
}

svg{
    width: 100px;
    height: 100px;
}

#grid, #dotGrid{
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: #555;
    opacity: 0.5;
    left: 0;
    top: 0;
    z-index: 1;
}
#dotGrid{z-index: 1;}
#grid{opacity: 0;}
.vertical {
    //width: 10px;
    //height: 500px;
    position: relative;
    z-index: 10;
    left: 0;
    top: 0;
    stroke: grey;
    stroke-width: 1;
}
#personal-title {
    position: absolute;
    top: 195px;
    left: 50px;
    font-family: Circular_Air-Bold, sans-serif;
    color: #FF0083;
    letter-spacing: 5px;
    width: 425px;
    font-size: 40px;
    font-weight: 700;
    z-index: 3;
}

#personal-statement{
    position: absolute;
    top: 294px;
    left: 5%;
    font-family: DINPro-Regular, sans-serif;
    color: #fbfbfb;
    width: 425px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 100;
    z-index: 3;
}

#morph {
    position: absolute;
    width: auto;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    height: 600px;
    //background-color: aquamarine;
    //background-color: #151515;
    //top: 50px;
    z-index: 0;
    //overflow: hidden;
}
#morph>video, #morph>img{
    position: absolute;
    width: 1600px;
    left: 50%;
    margin-left: -800px;
    opacity: .35;
    //background-color: #000;
    //background-blend-mode: multiply;
}
#test{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 800px;
    background-color: aqua;
}
#strike:after{
    content: "";
    display: block;
    position: relative;
    top: -27px;
    left: -5px;
    width: 145px;
    height: 6px;
    background-color: #FF0083;
}


.allLines>div{
    position: absolute;
    height: 5px;
    background-color: #F51488;
}
div[data-value = "50"]{width: 50px; top: 100px; left: 250px;}
div[data-value = "10"]{width: 10px; top: 100px; left: 310px;}
div[data-value = "20"]{width: 20px; top: 100px; left: 330px;}
div[data-value = "80"]{width: 80px; top: 150px; left: 420px;}
div[data-value = "700"]{width: 700px; background-color: #fff; top: 538px; left: 0px;}
div[data-value = "400"]{
    width: 400px; 
    top: 533px; 
    left: 325px; 
    animation: linearSlide1 20s linear infinite;
}

@keyframes linearSlide1 {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateY(0px);
    }
    50%{transform: translateX(-325px);
        -webkit-transform: translateX(-325px);
    }
    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
}


@media screen and (max-width: 1368px) {
}



@media screen and (min-width: 1368px) {
    
}


/*----------------overview panel----------------*/



/*-------- motion panel setting --------*/
/*--specify text color--*/

/*-------- project panel setting --------*/
/*--specify text color--*/




/*-------- upcoming panel setting --------*/


/*----------------animations ----------------*/
@keyframes guide {
    0% {
        opacity: 0;
        transform: translateY(0px);
        -webkit-transform: translateY(0ox);
    }
    50%{opacity: .75;}
    100% {opacity: 0;
        transform: translateY(10px);
        -webkit-transform: translateY(20px);
    }
}

@keyframes blink-first {
    0% {opacity: 1;}
	50% {opacity: .5;}
    100% {opacity: 1;}
}
@-webkit-keyframes blink-first {
    0% {opacity: 1;}
	50% {opacity: .5;}
    100% {opacity: 1;}
}

@keyframes blink-second {
    0% {opacity: .5;}
	50% {opacity: 1;}
    100% {opacity: .5;}
}
@-webkit-keyframes blink-second {
    0% {opacity: .5;}
	50% {opacity: 1;}
    100% {opacity: .5;}
}

@keyframes fall {
    0% {opacity: 0;
        transform: translate(0,0);
    }
    25% {opacity: .8}
    50%,100% {
        opacity: 1;
        transform: translate(-1200px,800px);
    }
}
@-webkit-keyframes fall {
    0% {opacity: 0;
        transform: translate(0,0);
    }
    25% {opacity: .8}
    50%,100% {
        opacity: 1;
        transform: translate(-1200px,800px);
    }
}

@keyframes fall480 {
    0% {opacity: 0;
        transform: translate(0,-150px);
    }
    50 {opacity: .3}
    100% {
        opacity: 1;
        transform: translate(-1000px,500px);
    }
}

@-webkit-keyframes fall480 {
    0% {opacity: 0;
        transform: translate(0,-150px);
    }
    50 {opacity: .3}
    100% {
        opacity: 1;
        transform: translate(-1000px,500px);
    }
}


/*----------------native tags----------------*/




.inline-highlight{text-decoration: underline}

footer{margin-top:15px; color: #fff;}

@media screen and (max-width: 1024px) {
  
}

/* for 680px or less */
@media screen and (max-width: 680px) {
}




@media screen and (max-width: 480px){

}