#link-projects{text-decoration: underline;}
.quote>h3, i, #title-description{color: #63ae92;}

/*----------------Title----------------*/
/*bridge only*/
.title-image-group{
    margin-top: 32%;
	margin-left:30px;
    width: 70%; 
	//box-shadow: 0 0 7px 0px #f0f0f0;
}

/*bridge only*/
#title-description-supplement{
    margin-top: 2%;
}


/*----------------Promotion----------------*/

/*----------------Research----------------*/

/*----------------Ideation----------------*/

/*----------------prototype----------------*/
.demo{
	position: relative;
	left: 50%;
	margin-left: -440px;
	width: 100%;
	min-height: 543px;
	height: auto;
	background-color: #000;
}

/*----------------Product----------------*/

/*----------------other----------------*/

/*----------------Animations----------------*/


/* for 680px or less */
@media screen and (max-width: 680px){
	/*crown only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 20% 0 25% 16%; 
		width: 70%; 
	}

}