#link-projects{text-decoration: underline;}

.quote, i, #title-description{color: #54c3c3;}

/*----------------Title----------------*/

/*ixda only*/
.title-image-group{
	/*can adjust this to fit image*/
    margin-top: 15%; 
	margin-left: 15%;
    width: 75%; 
}


/*----------------Promotion----------------*/

/*----------------Research----------------*/

/*----------------Ideation----------------*/

/*----------------prototype----------------*/


/*----------------Product----------------*/





#product-panel>img {
	position:inherit;
	margin-left: 9%;
	margin-bottom: 30px;
	display: inline;
	box-shadow: 0 0 7px 0px grey;

}





/*----------------other----------------*/

/*----------------Comment----------------*/

/*----------------Animations----------------*/

/* for 680px or less */
@media screen and (max-width: 680px){
	/*crown only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 10% 0 5% 12%; 
		width: 80%; 
	}

	
	#product-panel>img {
		position:inherit;
		left: 50%;
		margin-left: -161px;
		margin-bottom: 30px;
		box-shadow: 0 0 7px 0px grey;
		display: block;
	}
	
	#product-panel>img:last-child{
		margin-bottom: 0px;
	}
	
	
}