/*
1.position
2.size
3.font
4.background
5.others like animation
*/



#link-projects{text-decoration: underline;}
.quote>h3, i, #title-description{
	color: #d9ac71;
}

/*----------------Title----------------*/

/*lift only*/
.title-image-group{
	/*adjust this to fit image in title panel*/
    margin-top: 20%; /*for pic2*/
	margin-left: 15%;
    width: 88%; 
}

/*----------------prototype----------------*/

/*----------------Product----------------*/


/* for 680px or less */
@media screen and (max-width: 680px){
	
	/*lift only*/
	.title-image-group{
		/*adjust this to fit image in title panel*/
		margin: 10% 0 5% 20%; 
		width: 88%; 
	}
	
}
