#link-projects{text-decoration: underline;}

/*<i> for in-text hightlight*/
.quote>h3,i, #title-description
{color: #fb4489;}

/*----------------Title----------------*/

/*bristol only*/
.title-image-group{
    margin-top: 22%;
	margin-left:0px;
    width: 85%; 
}

/*----------------Promotion----------------*/

/*----------------Research----------------*/

.design-statement{
	padding: 20px 10%;
}

.design-statement>span{
	border-bottom: 3px solid;
}

/*----------------Ideation----------------*/

/*----------------prototype----------------*/
#xbee-demo{margin-top: 30px;}

.demo{
	position: relative;
	left: 50%;
	margin-left: -440px;
	width: 100%;
	min-height: 543px;
	height: auto;
	background-color: #000;
}
/*----------------Product----------------*/

#product-panel>img {
	margin-bottom: 20px;
}

/*----------------Advertise----------------*/
#advertise-panel>img {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;	
}

#advertise-panel>img:last-child{
	border-bottom: none;	
}

#advertise-panel>img:last-child{
	margin-bottom: 0px;
}

/* for 680px or less */
@media screen and (max-width: 680px){
	/*bristol only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 0; 
		width: 100%;
	}
	/*bristol only?*/
	.demo{
		left: 0;
		margin-left: 0;
		width: 100%;
		min-height: 543px;
		height: auto;
		background-color: #000;
	}

}