


/* -----------------------group-----------------*/
.project-pic{
margin-top: 20px;
margin-bottom: 20px;
padding: 0px;
width: 100%;
}

.relativePos {
position:relative;
}

.absPos{position: absolute;}

.project-description {
width: 800px;
font-size:1.5em;
color: #fff;
font-family: hnUL;
margin-top: 20px;
margin-bottom: 80px;
left: 20px;
}

.lessMarginBottom{margin-bottom: 20px;}

.project-objective {
width: 800px;
font-size:2em;
color: #fff;
font-family: hnT;
margin: 20px 0;
left: 20px;
}



.project-description-bold{
font-size:2em;
color: #fff;
font-family: hnL;
margin-top: 20px;
text-align: center;
}



























