.li-nav>a:link,
.li-nav>a:visited 
{color: #555;}

#indicator-dot{background-color: #555;}

#product-panel{
    //background-color: antiquewhite;
}

.square, .wide, .tall{
    background-color: yellow;
    background-color: #FCFCFC;
}

html,body{background-color: #f9f9f9}
html,body{background-color: #fff}

img~img{
	margin-top: 0px; /*overrule structure.css*/
}

body{height: auto;width: 990px; margin-left: -495px}

#navigation{left: 50%; margin-left: -350px;}

footer{margin-top: 80px;}

/*----------------Product----------------*/
#product-panel {
	position: relative;
    width: 990px; /*880-16*2(padding)*/
    left: 50%;
    margin-left: -495px;
	min-height: 1400px;
    height: auto;
    margin-top: 80px;
}

/*square property*/
.square, .wide, .tall{
	position: relative;
	width: 310px;
	height: 290px;
	overflow: hidden;
}

.wide{width: 635px;}

.tall{height: 595px;}

.square a{
	-webkit-transition: color .8s; /* For Safari 3.1 to 6.0 */
    transition: color .8s;
}



/*-- case 1 --*/
/*-- wide, tall, square --*/
.wide+.tall+.square{margin-top: -290px;}
.tall+.square+.square{margin: -290px 0 0 340px;}


#product-panel a:link, 
#product-panel a:visited{
    color: #333;
    text-decoration: none;
}

.square-img, .wide-img, .tall-img{
	position:relative;
    width: 310px;
    height: 290px;
}

.wide-img{width: 635px;}
.tall-img{height: 595px;}

.square-img>img, .wide-img>img, .tall-img>img{
    position: absolute;
    display: block;
}


[href="../motion/motion.html"]>.square-img{
    width: 250px;
    left: 50%;
    margin-left: -125px;
    padding-top: 20px;
}
[href="../motion/motion.html"]>.caption{
    margin-top: -75px; /*55default + 20adjustment*/
}


#project-motion>img{
    width: 250px;
    
}

h2{
	font-size: 20px;
    font-family: roboto;
}

h3{
	font-size: 16px;
    font-family: roboto-light;
}

.caption{
	position:relative;
    width: auto;
    height: 50px;
    text-align: left;
    margin-top: -55px;
    margin-left: 15px;
}

.small{height: 100px;width: 310px;}
.small .caption{
    margin-top: 25px;
}


/*padding property*/
.square, .wide, .tall{
	float: left;
	margin:15px 0px 0px 15px;
}




/*--------------------------
--------Media Query---------
----------------------------*/
/* for 680px or less */
@media screen and (max-width: 680px) {
    #link-projects{text-decoration: underline;}
	#product-panel{
		width: auto;
		//min-height: 1900px;
		padding: 0;
        width: 100%;
        left: 0;
        margin-left: 0;
	}
		
	/*clear padding for all floors*/
	#product-panel>div{padding: 0;}
    

	

    
}/* for 680px or less media query ends */



@media screen and (max-width: 548px) {
    #product-panel{height: 1350px;}
}

@media screen and (max-width: 532px) {
    #product-panel{height: 2500px;}
}


/* for 480px or less */
@media screen and (max-width: 480px) {
    
    
    
	#floor-three, #floor-two, #floor-one, #lower-level{
		width: auto;
		float: none;
		
	}
    
    #product-panel{margin-top: 100px;height: auto;
}

    
    .square-img{
        width:250px;
        position: relative;
        left: 50%;
        margin-left: -125px;
    }
	
	.square, .wide{
		margin-right: 16px;
		width: auto;
		height: auto;
	}
		
	.square a>h2, .wide a>h2, .tall a>h2{
		position:absolute;
		margin-top: -32px;
		margin-left: 16px;
		font-size: 14pt;
		font-weight: 100;
	}
	
	.square, .wide, .tall{
		float:none;
	}
	
}/* for 460px or less media query ends */

