.li-nav>a:link,
.li-nav>a:visited 
{color: #555;}

#indicator-dot{background-color: #555;}

html{
    background-color: #FCFCFC;
}

.square, .wide, .tall{
    //background-color: yellow;
    //background-color: #fafafa;
}

header{left: 50%; margin-left: -350px;}
html,body{background-color: #f9f9f9}
html,body{background-color: #fff}

img~img{
	margin-top: 0px; /*overrule structure.css*/
}

body{height: auto;width: 990px; margin-left: -495px}

footer{margin-top: 80px;}

/*----------------Product----------------*/
#product-panel {
	position: relative;
    width: 825px; /*800+25*/
    left: 50%;
    margin-left: -412px;
	min-height: 1100px;
    height: auto;
    margin-top: 80px;
}

#product-panel>div{
    transition: .3s;
    //background-color: yellow;
}

#product-panel>div:hover{
    transition: .3s;
}


/*square property*/
.square, .wide, .tall{
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
}

.wide{width: 525px;}
.tall{height: 524px;}

.square a{
	-webkit-transition: color .8s; /* For Safari 3.1 to 6.0 */
    transition: color .8s;
}



/*-- case 1 --*/
/*-- wide, tall, square --*/
.wide+.tall+.square{margin-top: -290px;}
.tall+.square+.square{margin: -290px 0 0 340px;}


#product-panel a:link, 
#product-panel a:visited{
    color: #333;
    text-decoration: none;
}

.square-img, .wide-img, .tall-img{
	position:relative;
    width: 250px;
    height: 200px;
}

.wide-img{width: 525px; height: 200px;}
.tall-img{width: 250px; height: 474px;}

.square-img>img, .wide-img>img, .tall-img>img{
    position: absolute;
    display: block;
}


[href="../tv"]>.square-img{
    width: 250px;
    left: 50%;
    margin-left: -125px;
    background-color: #2E2E2E;
    background-image: url(../../motion/images/spinning-craker-no-glow@400.gif);
    background-size: 250px;
}



#project-motion>img{
    width: 250px;
    
}

h2{
	font-size: 16px;
    font-family: DINPro-Medium, sans-serif;
}

h3{
	font-size: 14px;
    font-family: DINPro-Regular, sans-serif;
}

.caption{
	position:relative;
    width: 250px;
    height: 40px;
    text-align: left;
    margin-top: 8px;
    //margin-left: 15px;
    text-align: center;
    letter-spacing: -1px;
    
}

.small{height: 100px;width: 250px;}
.small .caption{
    margin-top: 25px;
}



.wide .caption{
    width: 525px;
}


/*padding property*/
.square, .wide, .tall{
	float: left;
	margin:25px 0px 0px 25px;
}

.kitchen{
    /*250+25+25*/
    margin-left: 300px;
}



/*--------------------------
--------Media Query---------
----------------------------*/
/* for 680px or less */


@media screen and (max-width: 680px) {
    #link-projects{text-decoration: underline;}
    
    body{
        width: 665px;
        margin-left: -332.5px;
        //background-color: yellow;
        height: auto;
        left: 50%;
    }
    
    #product-panel{
        margin-top: 100px;
        width: auto;
        left: 0;
        margin-left: 0;
        //background-color: blue;
        padding: 0 25px;
        height: 2100px;
    }

    
	/*clear padding for all floors*/
	#product-panel>div{
        padding: 0;
        //background-color: yellow;
        //opacity: .9
    }

    
    .wide~.tall~.square{
        margin-top: 25px;
    }
	
/*
    #product-panel>.square{
        width: 310px;
    }
*/
    

    
/*
    #product-panel>.square+.three,
    #product-panel>.wide>.square+.one,
    .small
    {
        margin-left: 25px;
    }
*/
    
    
    #product-panel>.square,
    #product-panel>.wide{
        margin-left: 25px;
    
    }
    
    #product-panel>.small.two,
    #product-panel>.small.one
    {
         margin-left: 25px;
    }
    /*---tall wide square square ends--*/

    
    

    
    /*---------span tall shade---------------*/
    #product-panel>.tall{
        left: 50%;
        margin-left: -125px;
    }
    


}/* for 680px or less media query ends */




/* for 480px or less */
@media screen and (max-width: 480px) {
    
    body, #product-panel{min-height: 2800px;}
    
    body{
        left: 0;
        margin-left: 0;
        width: 100%;
    }
        	
	.square{
		height: 330px;
	}
    
    .wide {
        height: 184px;
    }
    
    .small{
        height: 100px;
    }
    
    .square-img{
        width: 100%;
        height: 280px;
    }
    
    .wide-img{
        width: 100%;
        height: 134px;
    }
    .wide .caption{width: 100%;}

    
    
    .tall{height: 714px;}
    .tall-img{
        width: 100%;
        height: 664px;
    }
    
    
    
    .caption{width: 100%;}
    
    
    
    
    
    [href="../tv"]>.square-img{
        width: 100%;
        left: 0;
        margin-left: 0;
        background-color: #2E2E2E;
        background-image: url(../../motion/images/spinning-craker-no-glow@400.gif);
        background-size: 100% 280px;
    }
		
	.square a>h2, .wide a>h2, .tall a>h2{
		position:absolute;
		margin-top: -32px;
		margin-left: 16px;
		font-size: 14pt;
		font-weight: 100;
	}
	
	.square, .wide, .tall{
		float:none;
        width: 100%;
	}

	
    #product-panel>.square,
    #product-panel>.wide,
    #product-panel>.tall{
        width: 100%;
        left: 0;
        margin-left: 0;
    }
    
    
    /*not a good practice, jsut for temporary visualization*/
    #product-panel>.tall+.three+.square+.square+.three,
    #product-panel>.tall+.three+.square+.square+.three+.one+.two,
    #product-panel>.tall+.three+.square+.square+.three+.one+.two+.three+.one,
    #product-panel>.tall+.three+.square+.square+.three+.one+.two+.three+.one+.two+.three{
        margin-left: 0px;
    }
    
    #product-panel>.square~.square~.square{
        margin-left: 0px;
    }
	
    #product-panel>.square{
        margin-left: 0px;
    }

}/* for 460px or less media query ends */

