

/*<i> for in-text hightlight*/
.highlight>h3,i, #title-description{color: #fff;}
p>a:link {color: #FFC413; text-decoration:underline}
a:visited {color: #FFC413;}

/*0830 to newstructure?*/ 
li>a:link {color: #fff; text-decoration:none;    transition: .7s ease;
}
/*once pass rendering, change color*/

/*----------------Title----------------*/


#title-panel{
    left: 50%;
    background-color: #E44C56;
}

/*calor only*/
#title-img{
    position: relative;
    width: 700px;
    height: auto;
    top: 20%;
    left: 50%;
    margin-left: -350px;
}

#title-img-product{
    position: relative;
    left: 50%;
    margin-left: -250px;
   

}



#title-description>h1{
    font-size: 60px;
    line-height: 1.3;
    font-family: Roboto-Regular;
}
#title-description>h2{
    /*0830 reset*/
    margin-top: 0; 
	margin-left: 0;
    font-size: 40px;
    line-height: 1.2;
	font-family: Roboto-Light;
}

#title-description>h3{
    font-size: 30px;
    font-family: Roboto-Light;
}




@-webkit-keyframes float {
0%{
    opacity: 0;
    -webkit-transform:translate(20px, 0px);
}
40%{
    opacity: 0;
    -webkit-transform:translate(20px, 0px);
}
100%{
    opacity: 1;
    -webkit-transform:translate(0px, 0px);
}
}
/*----------------intro----------------*/
#intro-panel{
    margin-top: 50px; /*share 20px margin with p class*/
}

/*----------------Promotion----------------*/

/*----------------Research----------------*/
/*to structure*/
.group-wrapper{
    position: relative;
	padding: 30px 0;
/*
    left: 50%;
    margin-left: -350px;
    width: 700px;
*/
    height: auto;
}


.issue, .issue-icon, .issue-detail>h4, .issue-detail>h5,
.feature, .feature-icon, .feature-detail>h4, .feature-detail>h5{
	position:relative;
    font-size: 25px;
    //float: left;
	//height: auto;
}



.feature{padding: 80px 0;}

/*
.issue-icon, .feature-icon{
	width:257px;
	//background-color: red;
    float: left;
}
*/

/* 1005
.issue-detail, .feature-detail{
    float: left;
	margin-top: 10px;
	width: 440px;;     
}

.issue-detail>h4, .feature-detail>h4{
	margin: 0px;
	left: 0px;
	width: auto;
	line-height: 1;
    font-family: Roboto-Semibold, sans-serif;
}

.issue-detail>h5, .feature-detail>h5{
	padding-top: 10px;
    font-family: Baskerville, sans-serif;
    font-size: 25px;
}
*/

/* 1005
.statement>h3{
    margin-left: -324px;
    width: 644px;
    text-align: center;
}
*/
/*----------------Ideation----------------*/


/*----------------prototype----------------*/


/*----------------Product----------------*/

#product-panel>img {
	margin-bottom: 30px;
	border-top: 1px solid #ddd;	
}

#product-panel>img:first-child, #product-panel>img:last-child{
	border-top: none;	
}

#product-panel>img:last-child{
	margin-bottom: 0px;
}

/*----------------Market----------------*/
.app-left, .app-right{
    position: relative;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    height: 435px;
    overflow: hidden;
}


.app-left-ui, 
.app-left-info, 
.app-right-ui, 
.app-right-info{
    position: relative;
    float: left;
    overflow: hidden;
}

.app-left-ui, .app-right-ui {
    position: relative;  
    margin-top: 60px;
}
.app-left-ui{margin-left: 70px;}
/*reposition app-right content*/
.app-right>*{position: absolute;}
.app-right-ui{left: 450px;}

.app-left-info>*, .app-right-info>*{
    width: 350px;
}

.app-left-info, .app-right-info{
    margin-left: 50px;
    padding-top: 100px;
}


.app-left-info>h2, .app-right-info>h2{
    font-size: 50px;
    font-family: Roboto-Regular;
}
.app-left-info>h3, .app-right-info>h3{
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.4;
    font-family: Roboto-Light;
}

.app-left-info>h4, .app-right-info>h4{
    font-size: 22px;
    line-height: 1.4;
    font-family: Roboto-Light;

}

#market-panel .band{padding: 0px;}

#water-bucket img{margin-top: 25px;}
#water-bucket>img:last-child{
    margin-top: 50px;
}
/*#water-bucket{width: 700px; left:50%; margin-left: -350px;}*/
#badges img{margin-top:40px;}
#badges{min-height: 205px;}

/* for 680px or less */
@media screen and (max-width: 680px){

    #link-projects{text-decoration: underline;}
	/*calor only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 0; 
		width: 100%;
	}
	
	#title-description{left: 30px;}

	/*calor only?*/
	#prototype-panel>#market-cartridge-mechanism, 
    #prototype-panel>#video-set-temp{
		left: 0;
		margin-left: 0;
        padding: 0; //0621
		width: 100%;
        height: 150px;
	}
	
	.issue, .issue-detail{
		width: auto;
	}
    
    .app-left, .app-right{
        margin-bottom: 100px;
        height: 650px;
    }
    
    .app-right>*{position:relative;}
    
    .app-left,
    .app-left-ui, 
    .app-left-info, 
    .app-left-info>h2,
    .app-left-info>h3,
    .app-left-info>h4,
    .app-left-info>h5,
    .app-right,
    .app-right-ui, 
    .app-right-info,
    .app-right-info>h2,
    .app-right-info>h3,
    .app-right-info>h4,
    .app-right-info>h5,
    .feature,
    .feature-icon,
    .feature-detail{
        //max-width: 680px;
        width: auto;
        left: 0%; /*reset >680px*/
		margin-left: 0px; /*reset >680px*/
        padding: 0;
        overflow: visible;
        text-align: center;
    }
    
    
    .band>.feature{height: 500px;}
    .band+.feature{height: 400px; margin-top: 24px;}
    
    .app-left+.band{
        height: 800px;
    }
    
    
    /*center app, feature img*/
    .feature-icon, 
    .app-left-ui, 
    .app-right-ui{
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
    
    .feature-detail,
    .app-left-info,
    .app-right-info{
        padding: 0 12px;}
    .app-right-info, .app-left-info{margin-top: 24px;}

}