/*<i> for in-text hightlight*/
.highlight>h3,i {color: #EEA257;}
.ue::after{background-color: #EEA257 ;}
p>a:link {color: #EEA257; text-decoration:underline}
a:visited {color: #EEA257;}

/*0916 move to structure if all have non white bg*/
li>a:link {color: #fff; text-decoration:none;    transition: .7s ease;
}
/*----------------Title----------------*/

#title-description{color: #fff;}


#title-panel{height: 600px;}
#title-img>img{
    width: 500px;
    margin-left: -250px; /*center combo*/
}
#title-description{
    margin-top: 20px;
}

/*----------------Promotion----------------*/

/*----------------Research----------------*/


.ue::after{
    content:'';
    height: 5px;
    margin-left: -100px;
    margin-top: 35px;
    position:absolute;
}

span.tailored::after {width: 105px;}
span.everywhere::after {margin-left: -145px; width: 150px;}
/*----------------Ideation----------------*/

/*----------------prototype----------------*/

/*----------------Product----------------*/

#product-panel>img {
	margin-bottom: 20px;
}

/*----------------Advertise----------------*/
#advertise-panel>img {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;	
}

#advertise-panel>img:last-child{
	border-bottom: none;	
}

#advertise-panel>img:last-child{
	margin-bottom: 0px;
}

/* for 680px or less */
@media screen and (max-width: 680px){
    #link-projects{text-decoration: underline;}

    #title-panel{height: 550px;}
    #title-img>img{
        width: 400px;
        margin-left: -200px; /*center combo*/
    }

    

}

@media screen and (max-width: 480px){
    #title-panel{height: 530px;}
    #title-img>img{
        width: 300px;
        margin-left: -150px; /*center combo*/
    }



}