/*#link-projects{text-decoration: underline;}*/

/*<i> for in-text hightlight*/
.quote>h3,i {color: #fb4489;}

#title-description{color: #fff;}

/*0916 move to structure if all have non white bg*/
li>a:link {color: #fff; text-decoration:none;    transition: .7s ease;
}
/*----------------Title----------------*/

/*bristol only*/
/*
.title-image-group{
    margin-top: 22%;
	margin-left:0px;
    width: 85%; 
}
*/

#title-panel{
    left: 50%;
    height: 650px;
    background-color: #fb4489;
    overflow: hidden;
}

/*calor only*/
#title-img{
    width: 700px;
    height: auto;
    top: 15%;
    left: 50%;
    margin-left: -350px;
    position: relative;
}

#title-img-product{
    position: relative;
    left: 50%;
    margin-left: -300px;
}

#title-description{	
    position: relative;
    height: auto;
    width: 700px;
    margin-left: -350px;
    left: 50%;
    margin-top: 150px;
}

#title-description>h1{
    font-size: 60px;
    line-height: 1.3;
    font-family: Roboto-Regular;
}
#title-description>h2{
    /*0830 reset*/
    margin-top: 0; 
	margin-left: 0;
    font-size: 40px;
    line-height: 1.2;
	font-family: Roboto-Light;
}

#title-description>h3{
    font-size: 30px;
    font-family: Roboto-Light;
}




@-webkit-keyframes float {
0%{
    opacity: 0;
    -webkit-transform:translate(20px, 0px);
}
40%{
    opacity: 0;
    -webkit-transform:translate(20px, 0px);
}
100%{
    opacity: 1;
    -webkit-transform:translate(0px, 0px);
}
}

/*----------------Promotion----------------*/

/*----------------Research----------------*/

.design-statement{
	padding: 50px 5%;
    //background-color: #eee;
    text-align: center;
    width: auto;
    height: auto;
    max-height: 150px;
}


.design-statement h3{
    font-weight: 300;
    font-size: 25pt;
}

.ue::after{
    content:'';
    background-color: #fb4489;
    height: 5px;
    margin-left: -110px;
    margin-top: 35px;
    position:absolute;
}

span.tailored::after {width: 115px;}
span.everywhere::after {margin-left: -170px; width: 175px;}
/*----------------Ideation----------------*/
.value{
	padding: 20px 0;
	background-color: #F5F5F5;
}

.value>*{
	text-align: center;
}
/*----------------prototype----------------*/
#xbee-demo{margin-top: 30px;}

.demo{
	position: relative;
	left: 50%;
	margin-left: -440px;
	width: 100%;
	min-height: 543px;
	height: auto;
	background-color: #000;
}
/*----------------Product----------------*/

#product-panel>img {
	margin-bottom: 20px;
}

/*----------------Advertise----------------*/
#advertise-panel>img {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;	
}

#advertise-panel>img:last-child{
	border-bottom: none;	
}

#advertise-panel>img:last-child{
	margin-bottom: 0px;
}

/* for 680px or less */
@media screen and (max-width: 680px){
	/*bristol only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 0; 
		width: 100%;
	}
	/*bristol only?*/
	.demo{
		left: 0;
		margin-left: 0;
		width: 100%;
		min-height: 543px;
		height: auto;
		background-color: #000;
	}

}