
.highlight>h3, i{color: #0a9999;}

/*----------------Title----------------*/

#title-panel{background-color: #0a9999;}

#title-img{
    margin-top: 100px;;
}

#title-img>img{
    width: 500px;
    margin-left: -250px;
}

#title-description{
    margin-top: -10px;   
}


/*----------------Promotion----------------*/


/*----------------Research----------------*/

#current-site{
	position: relative;
	left: 50%;
	margin-left: -352px;
	width: 704px;
	height: 500px;
	background-color: #000;
}

.column-two-container{
	//background-color: grey;
	width:860px; /*880-padding*2*/
	padding: 10px;
	min-height:360px;
	height:auto;
}

.column-two-one{
	background-color: white;
	height: auto;
	width: 40%; /*880/3*/
	padding: 5px 30px;
	float: left;
}

.column-two-one > img{
	position: relative;
	left: 50%;
	margin-left: -150px;
	width:300px;
}

.column-two-one > p{
	text-align: center;
	margin-top: -5px;
	
}


.column-two-two{
	background-color: white;
	width: 48%;
	float: left;
	//height: 300px;
	padding: 5px 16px;
	margin-left: 10px;
	height: auto;
	padding-top: 50px;


}

.column-two-two > p{
	position:inherit;
	left:0;
	margin: 0;
	width:auto;
	
}

.user-analysis-list{
	margin: 0;
	padding: 0px 0px 0px 20px;
	list-style: disc;
	line-height: 1.5;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
	.column-two-container {
		width: auto;
	}
	.column-two-one {
		width: 41%;
		padding: 1% 4%;
	}
	.column-two-two {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

}

/*880px should also be a breakpoint?*/



/*----------------Ideation----------------*/
/*

#ideation-panel>img {
	box-shadow: 0 0 7px 0px grey;
}

#ideation-panel {
	position: relative;
}
*/
/*----------------prototype----------------*/
/*
#prototype-panel {
	position: relative;
    width: 100%;
    height: auto;
}
*/


/*----------------Product----------------*/
/*
#product-panel {
	position: relative;
    width: 100%;
    height: auto;
}
*/


.ui-container{
	position: relative;
	left: 50%;
	margin-left: -325px;
	width: 650px;
	height: auto;
}

/*----------------Animations----------------*/
/*



/* for 680px or less */
@media screen and (max-width: 680px){
	/*crown only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 10% 0 5% 13%; 
		width: 80%; 
	}

	#current-site{
		left: 0;
		margin-left: 0;
		width: 100%;
		height: 500px;
		background-color: #000;
	}
	
	.ui-container{
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	
	.column-two-container{
		width: auto;
		height: auto;
	}
	
	.column-two-one {
		width: auto;
		//padding: 10% 10%;
		height: auto;
		float: none;
	}

	.column-two-one > img {
		margin-left: -150px;
	}
	
	.column-two-two {
		width: 80%;
		float: none;
		margin-left: 6%;
	}
	.column-two-two > p{
		text-align: center;
	}

	
}
