/*
1.position
2.size
3.font
4.background
5.others like animation
*/


i{
	color: #555 ;
	letter-spacing: -1px;
}

/*----------------Title----------------*/
#title-panel{
    background-color: #fff;
}

#title-img{
    margin-top: 100px;;
}

#title-img>img{
    width: 800px;
    margin-left: -400px;
}

/*----------------work----------------*/

#work-panel{
	position: relative;
	margin-bottom: 50px;
}

#work-panel>img {
	margin-bottom: 20px;
	box-shadow: 0 0 7px 0px grey;
}

#work-panel>.tone-paper{
	box-shadow: initial;
}

.work-info{
	position:relative;
	left: 50%;
	margin-left: -260px;
	width: 500px;
}

.watercolor>h3{
	left: 0;
	width: auto;
	margin: 20px 0px;
	font-size: 15pt;
	text-align: center;
	color: #555;
	line-height: 1.1;
}

.work-info>p{
	position: inherit;
	top: -50px;
	left: 0;
	margin: 10px 0px 0px 50px;
	width: 100%;
	font-size: 14px;
	line-height: 1.5;
}

.video-demo{
    height: 525px;
}

/*----------------Animations----------------*/

/*----------------native tags----------------*/

/* for 680px or less */
@media screen and (max-width: 680px){
	.work-info{
		left: 0;
		margin-left: 0;
		width: auto;
	}
	
	.work-info>p{
		width: auto;
	}


}