/*
1.position
2.size
3.font
4.background
5.others like animation
*/

/*set nav link color at the top*/
.li-nav>a:link, .li-nav>a:visited{
    color: #555;
}

#navBand {
    background-color: #C2EAF2;
    background-color: #FbFbFb;
}


#title-panel{
    background-color: transparent;
    height: 400px;
}

/*

#title-img{
    margin-top: 100px;;
}

#title-img>img{
    width: 800px;
    margin-left: -400px;
}
*/

#title-description{
    margin-top: 200px;
    color: #555;
    text-align: center;
}

#title-description > h2{
    font-size: 23pt;
}





/*----------------product panel----------------*/
.product-wrapper{
	margin-bottom: 100px;
	min-height: auto;
}

img+p, h5+img{
	margin-top: 20px;
}

.product-wrapper>h3{
    font-size: 20px;
    text-align: center;
    /*video bottom = 50, img bottom = 20*/
    margin-top: 30px;
}


.poster-container{
	width: auto;
}

.product-img{height: 409px;}

.product-img>img{
    width: 345px;
    float: left;
}
.product-img>img:last-child{
   margin-left: 10px;
}


#seesaw{
    margin-top: 0px;
}


.comment{margin-top: 20px;}
/*----------------intro----------------*/
.slide-container{
	margin-top: 20px;
}

.shadow {
	box-shadow: 0 0 10px 0px grey;
}

@media screen and (max-width: 680px){
    #link-projects{text-decoration: underline;}
}


@media screen and (max-width: 480px){
	#techbadminton-logo{
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	
	.poster-container>img{
		left: 0;
		margin-left: 0;
		width: 100%;
	}
    
    /*temp setting since title img shrinks with browser width*/
    #title-panel{
        height: 300px;
    }
}



