
.highlight, i{
	color: #101b7d;
}

/*----------------Title----------------*/

#title-panel{
    background-color: #4480E9;
}

#title-img>img{
    margin-left: -320px; /*center combo*/
}

#title-description{
}

/*----------------Promotion----------------*/


/*----------------Research----------------*/

/*----------------Ideation----------------*/

/*----------------prototype----------------*/


/*----------------Product----------------*/

.ui{
	position: relative;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: auto;
}

.ui>img{
	margin-bottom: 20px;
}

.ui>img:last-child{
	margin-bottom: 10px;

}

/*----------------other----------------*/

/*----------------Comment----------------*/

/*----------------Animations----------------*/




/* for 680px or less */
@media screen and (max-width: 680px){
	/*native only*/
	.title-image-group{
	/*can adjust this to fit image*/
		margin: 15% 0 -13% 12%; 
		width: 80%; 
	}
	
	.ui{
		left: 0;
		margin-left: 0;
		width: auto;
	}
	
}
