
.highlight, i{
	color: #101b7d;
}

.statement-mark>g>g{
    fill: #101b7d;
}

.emphasis{
    border-bottom-color: #101b7d;
}

/*----------------Title----------------*/

#title-panel{
    background-color: #283374;
}

#title-img{
    margin-top: 100px;
}

#title-img>img{
    width: 680px;
    left: 50%;
    margin-left: -340px;
}

#title-description{
    margin-top: 30px;
}


/*----------------Promotion----------------*/

/*----------------Research----------------*/

/*----------------Ideation----------------*/

/*----------------prototype----------------*/


/*----------------Product----------------*/

.ui{
	position: relative;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: auto;
}

.ui>img{
	margin-bottom: 20px;
}

.ui>img:last-child{
	margin-bottom: 10px;

}

/*----------------other----------------*/

/*----------------Comment----------------*/

/*----------------Animations----------------*/


/* for 680px or less */
@media screen and (max-width: 680px){
    #title-img>img{
        width: 480px;
        margin-left: -240px;
    }

	

    
    
}
