
.highlight, i{
	color: #101b7d;
}

.statement-mark>g>g{
    fill: #101b7d;
}

.emphasis{
    border-bottom-color: #101b7d;
}

#navBand{
    background-color: #283374;
}

/*specific for natiev 061816*/
#early-concepts{
    padding: 0;
    width: 960px;
    position: relative;
    left: 50%;
    margin-left: -480px;
    
}
.quote>svg{
    background-image: url("../images/svg-quote.svg");
    background-repeat: no-repeat;
    width: 61px;
    height: 50px;

    
}

#research-panel>.band{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    overflow: hidden;
}
.short-caption{
    font-style: italic;
    font-size: 15px;
    
}
/*specific ends*/

/*----------------Title----------------*/

#title-panel{
    background-color: #283374;
}

#title-img{
    margin-top: 100px;
}

#title-img>img{
    width: 680px;
    left: 50%;
    margin-left: -340px;
}

#title-description{
    margin-top: 30px;
}


/*----------------Promotion----------------*/

/*----------------Research----------------*/

/*----------------Ideation----------------*/

/*----------------prototype----------------*/


/*----------------Product----------------*/

.ui{
	position: relative;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: auto;
    margin-top: 50px;
}

.ui>img{
	margin-bottom: 20px;
    box-shadow: 0 0 4px 0px #bbb;
}

.ui>img:last-child{
	margin-bottom: 10px;

}

/*----------------other----------------*/

/*----------------Comment----------------*/

/*----------------Animations----------------*/


/* for 680px or less */
@media screen and (max-width: 680px){
    #title-img>img{
        width: 480px;
        margin-left: -240px;
    }

	

    
    
}
