
/*----------------Title----------------*/
#title-panel{
    position: relative;
    height: 520px;
    background-color: rgb(230,230,230); /*testing*/
	overflow: hidden;
}


img.second {
	width: 900px;
	height: 540px;
}

#title-panel{
	padding-top:60px;/*no cf for smoothness*/
    height: auto;
	background: -webkit-linear-gradient(top, #FF0990   3%,  #7B21A4  80%);
	background: -moz-linear-gradient(top, #FF0990 10%,  #7B21A4 100%);
	background: linear-gradient(top, #FF0990 10%,  #7B21A4 100%);   
}

#about-section-wrapper p{
    font-size: 23px;
    font-family: roboto-light;
	word-spacing: 1px;
	color: #fff;
}

#about-section-wrapper{
    width: 700px;
    position: relative;
    left: 50%;
    margin-left: -350px;
    margin-top: 100px;
}


/*----------------intro----------------*/
#me-panel{
	position: relative;
	min-height: 350px;
    height: auto;
	color: white;
	overflow: hidden;
}



/*about me + about this site*/
#site-panel>h2, #me-panel>h2{
    margin-bottom: 20px;
	width: 140px;
	padding: 10px 20px;
	font-size: 30px;
	color: #FF0990;
	background-color: white;
    
}

#site-panel>h3, #me-panel h3{
	margin-bottom: 10px;
	font-size: 22pt;
    font-family: roboto-regular;
}

.contact{
	margin-top: 60px;
	margin-bottom: 25px;
}

.contact-info{
	width: 300px;
}


/*----------------site panel----------------*/
#site-panel{
    margin-top: 50px;
	position: relative;
	margin-bottom: 100px;
	min-height: 350px;
    height: auto;
	color: white;
	overflow: hidden;
}

#site-panel>h2{
	width: 200px;
	color: #7B21A4;
}


/*----------------Comment----------------*/
span.top{
	position: relative;
	left: 50%;
	width: 25px;
	display: block;
	float: none;
	font-size: 16px;
	text-align: center;
}

/*
span>a:link {color: rgb(117,117,117); text-decoration:none;}
span>a:visited {color: rgb(117,117,117);}
*/

.arrow{
	margin-left: -25px;
	width: 50px;
	height: 25px;
	background-color: ;
	background-image: url(../images/top-arrow.png);
	background-size: 50px;
	background-repeat: no-repeat;
	transition: background-image .5s;
}

.arrow:hover {
	background-image: url(../images/top-text.png);
}




/*----------------Animations----------------*/
@-webkit-keyframes slideUp {
    0% {top: 0px;}
	33.3% {top: 0px;}
	66.6% {top: -540px;}
    100% {top: -540px;}
}


/*----------------native tags----------------*/



p>a:link {color: #ffd05c ;}
p>a:visited {color: #ffd05c ;}
p>a:hover{text-decoration: underline;}

.inline-highlight{text-decoration: underline}

footer{margin-top:15px;}


/* for 680px or less */
@media screen and (max-width: 680px) {
	/*--responsive all testing--*/
/* for about.css only*/
    
#title-panel{
    padding: 0; /* full bleed on about page*/
    left: 50%;
}
    
#me-panel, #site-panel{
    width: auto;
    padding: 60px 20px 0px 20px;
}

p{padding:0;}

#about-section-wrapper{
    width: auto;
    margin-left: 0; /*reset >680px*/
    left: 0; /*reset >680px*/
}
    
#link-about{text-decoration: underline}
.li-nav:hover{text-decoration: underline}


@media screen and (max-width: 480px){
	/* for about.css only*/
	.panel-name{
		position: relative;
		left: 50%;
		margin-left: -81px;
		width: 162px;
		padding: 0px 10px;
	}
	
	.panel-name-site{
		width:240px;
		margin-left: -120px;
	}
	/* for about.css only*/

	
}