


/*----------------Title----------------*/
#title-panel{
    position: relative;
    background-color:white;
	overflow: hidden; /*block m1 stick out*/
    height: 768px;
}


#testbg{
    position: absolute;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    z-index: 100;
    opacity: .0;
}

#mountains{
    height: 768px;
	overflow: hidden;
    padding-top:60px;/*no cf for smoothness*/
    background-image: url("../gradient%20stella.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
}

#mountains>img {
	position: absolute;
    bottom: 0;
}



#m1{
    //top: 53%;
    bottom: 0;

    left: 49%;
    z-index: 5;
}

#m2{
    //top:66%;
    bottom: 0;
    left: -14%;
    z-index: 4;
}

#m3{
    //top:64%;
    left: 18.5%;
    z-index: 3;
    //opacity: 0;
}

#m4{
    //top:60%;
    left: 33.3%;
    z-index: 2;
        //opacity: 0;

}

#m5{
    //top:63%;
    left: 2%;
    z-index: 1;
        //opacity: 0;

}

#designer{
    position: absolute;
    left: 15%;
    top: 30%;
    opacity: .9;
}

#designer>h1{
    font-family: futura;
    color: #fff;
    font-weight: 500;
    width: 700px;
}
#stars>svg, #comet{position: absolute;z-index: 1;}

#star1{
    top: 95px;
    left: 54px;
    animation: blink-first 6s infinite;
}

#star2{
    top: 75px;
    left: 205px;
    animation: blink-second 6s infinite;
}

#star3{
    top: 75px;
    left: 355px;
    animation: blink-first 6s infinite;
}

#star4{
    top: 75px;
    left: 765px;
    animation: blink-second 6s infinite;
}

#star5{
    top: 95px;
    left: 1040px;
    animation: blink-first 6s infinite;
}

#star6{
    top: 159px;
    left: 476px;
    animation: blink-second 6s infinite;
}

#star7{
    top: 65px;
    left: 650px;
    animation: blink-first 6s infinite;
}

#star8{
    top: 148px;
    left: 739px;
    animation: blink-first 6s infinite;
}

#star9{
    top: 158px;
    left: 928px;
    animation: blink-first 6s infinite;
}

#star10{
    top: 255px;
    left: 1082px;
    animation: blink-first 6s infinite;
}

#star11{
    top: 148px;
    left: 1125px;
    animation: blink-first 6s infinite;
}

#star12{
    top: 278px;
    left: 35px;
    animation: blink-first 6s infinite;
}

#star13{
    top: 310px;
    left: 450px;
    animation: blink-first 6s infinite;
}

/*small stars*/
#star14{
    top: 320px;
    left: 275px;
    animation: blink-first 6s infinite;
}

#star15{
    top: 405px;
    left: 82px;
    animation: blink-first 6s infinite;
}
#star16{
    top: 375px;
    left: 585px;
    animation: blink-first 6s infinite;
}

#star17{
    top: 348px;
    left: 783px;
    animation: blink-first 6s infinite;
}

#star18{
    top: 375px;
    left: 1129px;
    animation: blink-first 6s infinite;
}



#comet{
    z-index: 0;
    top: 10px;
    left: 900px;
    opacity: 0;
    animation: fall 2s 3s infinite;
}




/*----------------intro----------------*/




@-webkit-keyframes blink-first {
    0% {opacity: 1;}
	50% {opacity: .5;}
    100% {opacity: 1;}
}

@-webkit-keyframes blink-second {
    0% {opacity: .5;}
	50% {opacity: 1;}
    100% {opacity: .5;}
}

@-webkit-keyframes fall {
    0% {opacity: 0;
        transform: translate(0,0);
    }
    
    50 {opacity: .3}
    
    100% {
        opacity: 1;
        transform: translate(-900px,600px);
    }
}


/*----------------native tags----------------*/



p>a:link {color: #ffd05c ;}
p>a:visited {color: #ffd05c ;}
p>a:hover{text-decoration: underline;}

.inline-highlight{text-decoration: underline}

footer{margin-top:15px;}


/* for 680px or less */
@media screen and (max-width: 680px) {
	/*--responsive all testing--*/
/* for about.css only*/
    
#title-panel{
    padding: 0; /* full bleed on about page*/
    left: 50%;
}
    
#me-panel, #site-panel{
    width: auto;
    padding: 60px 20px 0px 20px;
}

p{padding:0;}

#about-section-wrapper{
    width: auto;
    margin-left: 0; /*reset >680px*/
    left: 0; /*reset >680px*/
}
    
#link-about{text-decoration: underline}
.li-nav:hover{text-decoration: underline}


@media screen and (max-width: 480px){
	/* for about.css only*/
	.panel-name{
		position: relative;
		left: 50%;
		margin-left: -81px;
		width: 162px;
		padding: 0px 10px;
	}
	
	.panel-name-site{
		width:240px;
		margin-left: -120px;
	}
	/* for about.css only*/

	
}