
body{
    position: relative;
    left: 50%;
    width: 600px;
    margin-left: -300px;
}

/*----------------gif container----------------*/
.left-column, .gif-object, .right-column{
	position: relative;
}

.left-column, .right-column{
	min-height: inherit;
	height: auto;
	width: 48%;
    margin-right: 12px;
    float:left;
}

.gif-object{
	width: 100%;
    margin-bottom: 12px;
}

